<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="description" content="Urvashi Singh's Website'">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2ef5946a06.js" crossorigin="anonymous"></script>
</head>
<body>
  <div style="height: 10px; background-color: #f4f4f4">
  </div>
    <nav class="navbar navbar-expand-lg navbar-bottom justify-content-center py-3 mt-0" style="background-color: #f4f4f4";> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <ul class="navbar-nav">
             <li>
                <a href="{{ site.data.social-media.email.href }}{{ site.data.social-media.email.id }}" title="Email" target="_blank"><i class="fa-solid fa-envelope px-3 fa-xl" style="color:#f7c037"></i></a>
                <a href="{{ site.data.social-media.linkedin.href }}{{ site.data.social-media.linkedin.id }}" title="LinkedIn" target="_blank"><i class="fa-brands fa-linkedin-in pr-3 fa-xl" style="color:#f7c037"></i></a>
                <a href="{{ site.data.social-media.twitter.href }}{{ site.data.social-media.twitter.id }}" title="Twitter" target="_blank"><i class="fa-brands fa-twitter fa-xl" style="color:#f7c037"></i></a>
                <a href="{{ site.data.social-media.github.href }}{{ site.data.social-media.github.id }}" title="GitHub" target="_blank"><i class="fa-brands fa-github px-3 fa-xl" style="color:#f7c037"></i></a>
            </li>
            </ul>
        </div>
      </nav>
</body>